/*
COLOR PALLETTE
https://coolors.co/3a405a-f9dec9-99b2dd-dff2d8-c6dea6
#3A405A Charcoal
#F9DEC9 Unbleached Silk
#99B2DD Pale Cerulean
#DFF2D8 Nyanza
#C6DEA6 Light Moss Green
*/

/*Global Styles
-------------------------------*/
/*add this to all projects in order to not have issues with the boxes!*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*This above is what to add to all projects!--*/
body {
  color: #3a405a;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
/*ALSO, make sure to set the margin and padding of the body to 0 at the beginning of the project as well*/

h1 {
  text-shadow: 1px 1px 8px black;
  font-size: 80px;
  line-height: 1;
  padding: 30px 0;
}

h2 {
  font-size: 40px;
}
h1,
h2 {
  font-family: "Kaushan Script", cursive;
  margin: 0;
}

h3 {
  margin-bottom: 0;
}
.details h3 ~ p {
  margin: 0;
}

.details h3 + p {
  font-style: italic;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 60px;
}
img {
  width: 300px;
}

a {
  color: #99b2dd;
}
a:hover {
  text-decoration: none;
}

.btn {
  background-color: #3a405a;
  padding: 8px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
}

.btn:hover {
  background-color: rgba(58, 64, 90, 70%);
}

.border {
  border-bottom: 1px dashed #3a405a;
  padding: 25px 0;
  margin-bottom: 25px;
}

/*Profile
-------------------------------*/
header {
  background-color: #f9dec9;
  text-align: center;
}

.container img {
  border: 5px solid white;
  margin-top: 20px;
}

.container h1 {
  color: white;
}

/*Project
-------------------------------*/

.projects {
  background-color: #e5e6e4;
}

.project-item {
  overflow: hidden; /*Overflow hidden expands the parent element to include all FLOAT elements and clears out everything else*/
}

.project-item img {
  float: left;
  margin-right: 20px;
}

.project-item h3 {
  margin-top: 0;
}
]

/*Work Experience
-------------------------------*/


.work-experience {
  background-color: #fcaa67;
}

.job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}

/*Education
-------------------------------*/

.education {
  background-color: #fbfbf2;
}

/*Contact Info
-------------------------------*/
footer {
  background-color: #f9dec9;
  text-align: center;
}

footer a {
  color: #3a405a;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.contact-list li {
  padding: 15px;
  display: inline-block;
}
